* {
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
}

:root {
	--body-bg-color: #fff;
	--header-title-color: #555;
	--header-border-bottom-color: #ddd;
	--sidebar-bg-color: #e6f5f9;
	--sidebar-selection-bg-color: rgb(164, 186, 209);
	--sidebar-selection-color: #fff;
	--sidebar-border-right-color: #bde3ff;
	--main-content-bg-color: #fff;
	--todo-shadow-color: #eee;
	--todo-high-priority-bg-color: rgb(255, 207, 144);
	--todo-medium-priority-bg-color: rgb(247, 255, 166);
	--todo-low-priority-bg-color: rgb(149, 255, 228);
	--footer-color: #5781ba;
	--menu-item-icon-color: rgb(113, 164, 255);
	--menu-item-selected-icon-color: #fff;
	--projects-bar-bg-color: #fff;
	--projects-bar-color: #888;
	--regular-button-bg-color: rgb(76, 158, 217);
	--regular-button-color: #fff;
	--regular-button-pressed-bg-color: rgb(60, 125, 171);
	--main-content-toolbar-color: #888;
	--todo-high-border-color: rgb(255, 159, 0);
	--todo-medium-border-color: rgb(226, 226, 0);
	--todo-low-border-color: rgb(168, 215, 168);
	--todo-isDone-color: rgba(0, 0, 0, 0.5);
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	font-size: 16px;
	height: 100vh;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 60px 34px 1fr 30px;
	background-color: var(--body-bg-color);
}

/* header */

#header {
	grid-column: 1/3;
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid var(--header-border-bottom-color);
}

#header > h1 {
	font-weight: 300;
	color: var(--header-title-color);
}

/* sidebar */

#sidebar {
	grid-row: 2/4;

	background-color: var(--sidebar-bg-color);
	padding-top: 5px;
	border-right: 1px solid var(--sidebar-border-right-color);

	display: flex;
	flex-direction: column;
}

.menu-item {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 4px 12px;
	cursor: pointer;
	font-size: 14px;
}

.menu-item.selected {
	background-color: var(--sidebar-selection-bg-color);
	color: var(--sidebar-selection-color);
}

.menu-item svg {
	color: var(--menu-item-icon-color);
}

.menu-item.selected svg {
	color: var(--menu-item-selected-icon-color);
}

#projects-bar {
	background-color: var(--projects-bar-bg-color);
	margin-top: 10px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 6px 12px;
	display: flex;
	justify-content: space-between;
	color: var(--projects-bar-color);
}

#main-content-toolbar button,
#update-bttn,
#cancel-editTodo-bttn,
.bx-bttns-container button {
	border: 0;
	background-color: var(--regular-button-bg-color);
	padding: 2px 10px;
	border-radius: 100px;
	color: var(--regular-button-color);
	line-height: 14px;
}

#projects-bar button:active,
#main-content-toolbar button:active,
.bx-bttns-container button:active {
	background-color: var(--regular-button-pressed-bg-color);
}

#projects-container {
	flex: 1;
	padding: 0;
	padding-top: 5px;
	margin: 0;
	overflow-y: scroll;
}

#projects-container .menu-item {
	padding: 4px 22px;
}

#projects-container .menu-item-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Todo */

#main-content {
	padding: 20px;
	background-color: var(--main-content-bg-color);
	overflow-y: scroll;
}

#main-content-toolbar {
	grid-column: 2/3;
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding: 0 20px;
	gap: 15px;
	justify-content: space-between;
	z-index: 1;
}

#toolbar-text {
	font-size: 14px;
	color: var(--main-content-toolbar-color);
}

.todo {
	display: grid;
	grid-template-columns: 20px 1fr 150px 30px 30px;
	gap: 7px;
	align-items: center;
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 14px;
	box-shadow: 0 4px 4px var(--todo-shadow-color);
	border-left: 8px solid #ccc;
	border-right: 8px solid #ccc;
}

.todo.low {
	background-color: var(--todo-low-priority-bg-color);
	border-color: var(--todo-low-border-color);
}

.todo.medium {
	background-color: var(--todo-medium-priority-bg-color);
	border-color: var(--todo-medium-border-color);
}

.todo.high {
	background-color: var(--todo-high-priority-bg-color);
	border-color: var(--todo-high-border-color);
}

.todo button {
	border: 0;
	background-color: transparent;
	height: 20px;
	width: 20px;
}

.todo-dueDate {
	font-size: 14px;
}

.todo.isDone {
	color: var(--todo-isDone-color);
}

.todo.isDone .todo-title {
	text-decoration: line-through;
}

/* footer */

#footer {
	grid-column: 1/3;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #ddd;
	font-size: 14px;
	color: var(--footer-color);
}

/* todo edit box */

#overlay {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

input {
	border: 1px solid #bbb;
	border-radius: 4px;
	height: 24px;
	padding: 0 6px;
}

input:invalid {
	background-color: rgb(255, 216, 216);
}

.form-bx {
	background-color: #fff;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 4px 4px #555;
	display: none;
}

.form-bx form {
	display: grid;
	grid-template-columns: 270px;
	gap: 6px 10px;
	align-items: center;
}

.form-bx label {
	color: #888;
	letter-spacing: 1px;
	font-size: 14px;
	margin-top: 6px;
}

.form-bx p {
	color: #666;
	margin-bottom: 18px;
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 4px;
	display: flex;
	gap: 6px;
	align-items: center;
}

.bx-bttns-container {
	text-align: right;
	margin-top: 28px;
}

.bx-bttns-container button {
	font-size: 12px;
	padding: 3px 12px;
	margin-left: 14px;
}

/* new todo box */

.bx-newTodo-bttns-container {
	margin-top: 28px;
}

.bx-newTodo-bttns-container button {
	font-size: 12px;
	padding: 8px 12px;
	width: 100%;
	border-radius: 5px;
	border: 0;
}

#save-bttn {
	background-color: yellow;
	margin-bottom: 10px;
}
#cancel-newTodo-bttn {
	background-color: rgb(192, 192, 192);
}

#newTodo-bx {
	background-color: #20374f;
}

#newTodo-bx label {
	color: #fff;
}

#newTodo-bx p {
	color: #fff;
	justify-content: center;
	border-bottom: 1px solid #2b4660;
}

/* Alternative style */

header {
	background-color: #43505d;
	color: #fff;
}

header #header-title {
	color: #fff;
}

.todo {
	border: 0;
	border-bottom: 1px solid #eee;
	background-color: transparent;
	box-shadow: none;
	border-radius: 0;
}

.todo-title {
	max-width: max-content;
	padding: 2px 10px;
	color: #fff;
	border-radius: 4px;
}

.todo.low .todo-title {
	background-color: rgb(0, 213, 0);
}

.todo.medium .todo-title {
	background-color: yellow;
	color: rgb(166, 170, 29);
}

.todo.high .todo-title {
	background-color: red;
}

.todo.low {
	background-color: transparent;
	border-color: #eee;
}

.todo.medium {
	background-color: transparent;
	border-color: #eee;
}

.todo.high {
	background-color: transparent;
	border-color: #eee;
}

.menu-item {
	margin: 0 9px;
	border-radius: 4px;
}
